.DS_Store
*.class

# Mobile Tools for Java (J2ME)
.mtj.tmp/

# Package Files #
*.war
*.ear
*.jar

# zip files #
*.zip

# Eclipse files
.classpath
.project
.settings/
bin/

# IntelliJ
.idea/
*.iml

# Project resources
resources/
lexicons/
dist/
data/
lib/

#site
site/

# scripts #
*.sh

# virtual machine crash logs, see http://www.java.com/en/download/help/error_hotspot.xml
hs_err_pid*
